.card {
margin: 10px 15px 0px 15px;
background-color: rgba(0,0,0,.075) !important;
padding: 10px
   
}

input {
  width: 30%;
}
button{
  width: 10%;
}

.close-button{
  float:right;
}
.liststyle{
  margin-left: -2% !important;
  width:50%
}